{% extends 'base.html' %}

{% load static %}
{% load icon %}

{% block title %}Úvod{% endblock %}

{% block body_extra %}class="bg-cover bg-center bg-fixed" style="background-image: url('/static/images/chata-_placeholder.jpg')"{% endblock %}
{% block body %}
    <nav class="w-full fixed top-0 bg-gradient-to-b from-neutral-950/60 to-transparent h-48 text-white">
        <div class="container mx-auto flex flex-row mt-4 gap-8 items-end uppercase font-light text-lg leading-3">
            <a class="block" href="{% url 'home' %}">
                <img class="w-full" src="{% static 'images/logo-w.svg' %}">
            </a>
            <a href="{% url 'about' %}">O chate</a>
            <a href="#">Okolie</a>
            <a href="{% url 'reservation' %}">Rezervácia</a>
            <a href="{% url 'contact' %}">Kontakt</a>
        </div>
    </nav>

    <div class="w-full h-screen bg-neutral-950/50">
        <div class="container h-full mx-auto text-white">
            <div class="flex flex-col gap-1 justify-center fixed top-60">
                <p class="text-5xl font-light">Rodinná chata v srdci</p>
                <p class="text-5xl">Valčianskej doliny</p>
            </div>
        </div>
    </div>
{% endblock %}